In [41]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [42]:
dates = ["lpep_pickup_datetime","lpep_dropoff_datetime"]

In [43]:
df = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet",engine="pyarrow")
for date in dates:
    df[date] = pd.to_datetime(df[date]).dt.date
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01,2025-11-01,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01,2025-11-01,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01,2025-11-01,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01,2025-11-01,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01,2025-11-01,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [44]:
df.shape[0]

46912

In [45]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")
df.head(0).to_sql(name="green_trips",con=engine,if_exists="replace",index=False)
df.to_sql(name="green_trips",con=engine,if_exists="append",index=False)

912

In [46]:
df = pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv")
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [47]:
df.head(0).to_sql(name="zones",con=engine,if_exists="replace",index=False)
df.to_sql(name="zones",con=engine,if_exists="append",index=False)

265